* {
  font-family: 'Fira Sans';
  color: #444;
}

.App {
  margin: 3vw;
  padding: 2vw;
  display: flex;
}

button {
  padding: 7px;
  font-size: 1rem;
  text-transform: lowercase;
  background: transparent;
  border: 1px solid gray;
  border-radius: 4px;
}

/* Image container */
.image-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 5px;
  justify-content: space-between;
}

.image-wrapper {
  width: 50vw;
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
}

.choose-image-button {
  font-size: 1rem;
  font-family: 'Fira Sans';
  margin: 5px 0;
}

.transparent {
  opacity: 0.5;
}

/* Actions */
.actions {
  flex: 2;
  margin: 5px;
  display: flex;
  color: darkgray;
}

.flex-actions {
  flex: 1;

  display: flex;
  flex-direction: column;

  padding: 5px;
  align-items: center;
}

.action-button {
  margin: 10px 5px;
  width: 50%;
}

.action-button.reset {
  align-self: flex-end;
  width: 30%;
}

h4 {
  font-weight: normal;
}
